In [59]:
# Import the reqd libraries
import numpy as np
import pandas as pd

In [60]:
# Load the botson data fron the given csv file
df = pd.read_csv("train.csv")
print(df.shape)
df.head()

(379, 14)

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990,37.9
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474,21.4
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076,12.7
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438,19.9
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007,22.5

In [61]:
# Check if there is a null value
print(df.isnull().sum())

# CRIM      0
 ZN         0
 INDUS      0
 CHAS       0
 NOX        0
 RM         0
 AGE        0
 DIS        0
 RAD        0
 TAX        0
 PTRATIO    0
 B          0
 LSTAT      0
 Y          0
dtype: int64

In [65]:
# Delete the output column --- >> coulmn Y and store it to Y
print(df.columns, df.shape)
Y = df[' Y']  # Storing the output
del df[' Y']
print(df.columns, df.shape)

Index(['# CRIM', ' ZN', ' INDUS', ' CHAS', ' NOX', ' RM', ' AGE', ' DIS',
       ' RAD', ' TAX', ' PTRATIO', ' B', ' LSTAT', ' Y'],
      dtype='object') (379, 14)
Index(['# CRIM', ' ZN', ' INDUS', ' CHAS', ' NOX', ' RM', ' AGE', ' DIS',
       ' RAD', ' TAX', ' PTRATIO', ' B', ' LSTAT'],
      dtype='object') (379, 13)

In [66]:
# Add the last column having value = 1 so that we can apply Gradient Descent
df['c'] = np.ones(df.shape[0])

In [67]:
print(df.shape)
df.head()

(379, 14)

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,c
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990,1.0
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474,1.0
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076,1.0
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438,1.0
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007,1.0

In [68]:
# Convert df to np array
data = np.array(df)
print(data)
print(data.shape)

[[-0.40784991 -0.48772236 -1.2660231  ...  0.41057102 -1.09799011
   1.        ]
 [-0.40737368 -0.48772236  0.24705682 ...  0.29116915 -0.52047412
   1.        ]
 [ 0.1251786  -0.48772236  1.01599907 ... -3.79579542  0.89107588
   1.        ]
 ...
 [-0.40831101 -0.48772236  0.24705682 ...  0.33206621 -0.33404299
   1.        ]
 [-0.41061997 -0.48772236 -1.15221381 ...  0.203235   -0.74475218
   1.        ]
 [ 0.34290895 -0.48772236  1.01599907 ...  0.38787479 -1.35871335
   1.        ]]
(379, 14)

In [74]:
def step_gradient(points, learning_rate, m):
    # Initialize the value
    cols = points.shape[1]
    m_slope = np.zeros(cols)
    M = len(points)
    
    # Calculate the values
    for i in range(M):
        x = points[i]
        y = Y[i]
        for j in range(cols):
            m_slope[j] += (-2/M)*(Y[i] - (m*x).sum())*x[j]
            
    new_m = m - (learning_rate * m_slope)
    return new_m

In [77]:
def cost(points, m):
    total_cost = 0
    M = len(points)
    for i in range(M):
        x = points[i]
        y = Y[i]
        total_cost += (1/M)*((y-((m*x).sum()))**2)
        
    return total_cost

In [78]:
def gd(points, learning_rate, num_iterations):
    cols = points.shape[1]
    m = np.zeros(cols)
    
    for i in range(num_iterations):
        m = step_gradient(points, learning_rate, m)
        print(i, "Cost: ", cost(points, m))
        
    return m

In [113]:
def run():
    learning_rate = 0.156
    num_iterations = 100
    m = gd(data, learning_rate, num_iterations)
    
    for i in range(len(m)):
        print(m[i], " ")
        
    return m
        
m = run()

0 Cost:  299.2551581723636
1 Cost:  161.5410469874352
2 Cost:  96.95832458945216
3 Cost:  65.89820446613486
4 Cost:  50.435636142682746
5 Cost:  42.345603211615334
6 Cost:  37.809100036852556
7 Cost:  35.033049459595404
8 Cost:  33.16531773714269
9 Cost:  31.79463864161994
10 Cost:  30.718072428349604
11 Cost:  29.832067040891292
12 Cost:  29.081082920859103
13 Cost:  28.433202061246924
14 Cost:  27.86845758261948
15 Cost:  27.373191117974834
16 Cost:  26.937282185651284
17 Cost:  26.552754985106088
18 Cost:  26.213051807428876
19 Cost:  25.91263343196363
20 Cost:  25.64674328616906
21 Cost:  25.411256284845887
22 Cost:  25.202573562129437
23 Cost:  25.01754371326945
24 Cost:  24.853400577787916
25 Cost:  24.707712216061605
26 Cost:  24.578338039043107
27 Cost:  24.463392234435812
28 Cost:  24.36121226379153
29 Cost:  24.270331560006305
30 Cost:  24.18945576811355
31 Cost:  24.117442010380984
32 Cost:  24.05328075271118
33 Cost:  23.996079920268496
34 Cost:  23.94505096518297
35 Cost:  23.899496633183325
36 Cost:  23.858800212084887
37 Cost:  23.82241607510365
38 Cost:  23.78986135727052
39 Cost:  23.76070862468899
40 Cost:  23.734579414710847
41 Cost:  23.711138540818798
42 Cost:  23.6900890695359
43 Cost:  23.67116788835969
44 Cost:  23.654141793832352
45 Cost:  23.638804037633683
46 Cost:  23.624971276213948
47 Cost:  23.612480876132995
48 Cost:  23.601188533073593
49 Cost:  23.59096616756749
50 Cost:  23.581700064910322
51 Cost:  23.57328923062889
52 Cost:  23.565643936274366
53 Cost:  23.558684433308365
54 Cost:  23.55233981547871
55 Cost:  23.546547012394353
56 Cost:  23.541249899043187
57 Cost:  23.53639850778815
58 Cost:  23.53194833095464
59 Cost:  23.527859703511897
60 Cost:  23.524097256578205
61 Cost:  23.520629433558984
62 Cost:  23.51742806168208
63 Cost:  23.51446797253511
64 Cost:  23.511726665953308
65 Cost:  23.509184012261272
66 Cost:  23.50682198845287
67 Cost:  23.504624444403397
68 Cost:  23.502576895661072
69 Cost:  23.50066633976464
70 Cost:  23.498881093385602
71 Cost:  23.497210647906694
72 Cost:  23.495645541323256
73 Cost:  23.494177244598024
74 Cost:  23.492798060815762
75 Cost:  23.491501035673735
76 Cost:  23.49027987801374
77 Cost:  23.489128889249326
78 Cost:  23.48804290067447
79 Cost:  23.487017217755568
80 Cost:  23.486047570612865
81 Cost:  23.48513006998777
82 Cost:  23.484261168073072
83 Cost:  23.483437623655757
84 Cost:  23.48265647108325
85 Cost:  23.481914992621814
86 Cost:  23.48121069382369
87 Cost:  23.480541281564506
88 Cost:  23.47990464445025
89 Cost:  23.479298835328237
90 Cost:  23.47872205566609
91 Cost:  23.478172641589886
92 Cost:  23.47764905139698
93 Cost:  23.477149854378844
94 Cost:  23.47667372080896
95 Cost:  23.476219412966753
96 Cost:  23.475785777083406
97 Cost:  23.475371736108144
98 Cost:  23.474976283205184
99 Cost:  23.474598475901516
-0.9230805554060904
0.7021168384809167
-0.08896754360828579
0.7919491344956218
-2.1500144394925327
2.3671640563027356
0.11319699760295751
-2.9522458026957477
2.314012509650275
-1.4468026222023571
-2.2408924659835816
0.5832369057148344
-4.257815477314447
22.677871808955924

# Now on test data predict the y (Method 1)

In [137]:
# Load the data using pandas and insert a column for the constant
test_df = pd.read_csv("test.csv", header = None)
test_df['c'] = np.ones(test_df.shape[0])
test_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,c
0,2.918166,-0.487722,1.015999,-0.272599,0.365444,-1.609343,1.117494,-1.048494,1.661245,1.530926,0.806576,-1.597551,1.041062,1.0
1,-0.403392,-0.487722,0.406098,-0.272599,-1.016689,0.560412,-1.332629,1.029344,-0.637962,-0.708183,-1.135347,0.441052,-0.894738,1.0
2,-0.413178,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850,1.0
3,-0.412649,0.413589,-0.802031,-0.272599,-0.999412,-0.408356,-1.677566,1.435452,-0.637962,-0.981390,-0.765457,0.441052,-0.591963,1.0
4,-0.405882,-0.487722,-0.375976,-0.272599,-0.299707,-0.127698,-0.504068,-0.483566,-0.523001,-0.143951,1.130230,0.403663,0.048631,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,-0.408684,-0.487722,0.247057,-0.272599,-1.016689,-0.585014,-1.137046,0.336351,-0.523001,-0.060801,0.113032,0.431842,-0.498046,1.0
123,-0.408903,-0.487722,0.406098,-0.272599,-1.016689,-0.392685,-0.934351,0.811768,-0.637962,-0.708183,-1.135347,0.441052,-0.315820,1.0
124,-0.410014,2.087452,-1.378373,-0.272599,-1.241285,-0.570767,-1.780692,3.287300,-0.637962,0.016409,-0.071913,0.390945,-0.681674,1.0
125,-0.403176,-0.487722,-0.375976,-0.272599,-0.299707,-0.224575,0.591198,-0.795123,-0.523001,-0.143951,1.130230,0.340070,0.201421,1.0
126,-0.133563,-0.487722,1.231945,-0.272599,2.732346,-1.442658,0.904131,-0.978615,-0.523001,-0.031105,-1.736418,-2.938931,0.488777,1.0

In [170]:
# Convert the test_df into np array and find y_test_predicted
test_points = np.array(test_df)
y_test_predicted = []
M = test_points.shape[0]
for i in range(M):
    x = test_points[i]
    output = (m*x).sum()
    y_test_predicted.append(output)
    
y_test_predicted = np.array(y_test_predicted)
print(y_test_predicted.shape)
print(y_test_predicted)

(127,)
[12.41942077 28.93794569 22.38507708 24.39567893 20.7339813   2.77319201
 30.25465756 24.81536144 18.69390761 23.5324923  24.10991242 17.74759167
 17.60565138 21.71682691 42.36242529 23.9079781  24.46393755 27.62336887
 20.28853015 31.23677071 23.92411116 24.98105155 33.93949382 36.38167668
 32.0802858  16.65776315 23.49074303 33.05581176 25.08353489 33.70751616
 16.92602373 26.10378709 23.29604249 25.45714642 15.01890167 29.617137
 26.23693011 20.49228982 24.34282567  9.47326716  8.34146792 28.96523979
 29.61414762 19.8121513  20.34982104  3.13064629 39.50851363 25.71859344
 30.21143259 16.79160327 17.87249903 40.84552779 17.56972295 20.99353721
 15.63377799 21.34439422 18.4519887  23.15607491 13.71035588 17.2200533
 15.07945015 29.15171252 25.26103956 25.49130202 17.18053906 17.41798699
 34.68219005 17.00513868 27.01905202 22.50735838 29.35352461 27.09198374
 17.76571768  5.73466295 36.73788218 25.10200693 30.05169004 27.15475053
 16.24588015 32.68577041 19.26186349 22.77551901 22.50502745  8.48353293
 17.32509298 29.19138428 27.16214393  5.8632676  21.5650751  20.09427267
 22.1575366  20.62251587 20.98784812 13.18732158 19.7346381  26.01859643
 40.1950961  19.42654069 33.62918337 27.10747407 28.70147827 22.08529614
 25.85491591 31.35612483 17.16695358 26.37248625 21.52561691 36.82932755
 21.97948636 16.71732707 27.6541775  -0.09068038 13.95389069 16.24461279
 35.75427335 20.99349216 20.82214395 25.30722566 21.87027187 18.86509225
 13.54946599 35.506588   23.15108677 24.90939491 17.63153668 20.85829449
 14.76578119]

In [174]:
# Save the y_test_predicted in the csv file
np.savetxt('y_test_predicted.csv', y_test_predicted, delimiter=',',fmt='%1.5f')

## Now on test data predict the y (Method 2)

In [186]:
# Load the data using numpy
test_points=np.genfromtxt('test.csv',delimiter=",")
print(test_points.shape)

# insert a column having all 1's at last (for the constant)
test_points=np.insert(test_points,test_points.shape[1],np.ones(test_points.shape[0]),axis=1)
print(test_points.shape)
print(test_points)

(127, 13)
(127, 14)
[[ 2.91816626 -0.48772236  1.01599907 ... -1.59755122  1.04106182
   1.        ]
 [-0.40339151 -0.48772236  0.40609801 ...  0.44105193 -0.89473812
   1.        ]
 [-0.4131781  -0.48772236  0.11573841 ...  0.44105193 -0.50084979
   1.        ]
 ...
 [-0.41001449  2.08745172 -1.37837329 ...  0.39094481 -0.68167397
   1.        ]
 [-0.40317611 -0.48772236 -0.37597609 ...  0.34007019  0.20142086
   1.        ]
 [-0.13356344 -0.48772236  1.2319449  ... -2.93893082  0.48877712
   1.        ]]

In [188]:
# find y_test_predicted
y_test_predicted = []
M = test_points.shape[0]
for i in range(M):
    x = test_points[i]
    output = (m*x).sum()
    y_test_predicted.append(output)
    
y_test_predicted = np.array(y_test_predicted)
print(y_test_predicted.shape)
print(y_test_predicted)

(127,)
[12.41942077 28.93794569 22.38507708 24.39567893 20.7339813   2.77319201
 30.25465756 24.81536144 18.69390761 23.5324923  24.10991242 17.74759167
 17.60565138 21.71682691 42.36242529 23.9079781  24.46393755 27.62336887
 20.28853015 31.23677071 23.92411116 24.98105155 33.93949382 36.38167668
 32.0802858  16.65776315 23.49074303 33.05581176 25.08353489 33.70751616
 16.92602373 26.10378709 23.29604249 25.45714642 15.01890167 29.617137
 26.23693011 20.49228982 24.34282567  9.47326716  8.34146792 28.96523979
 29.61414762 19.8121513  20.34982104  3.13064629 39.50851363 25.71859344
 30.21143259 16.79160327 17.87249903 40.84552779 17.56972295 20.99353721
 15.63377799 21.34439422 18.4519887  23.15607491 13.71035588 17.2200533
 15.07945015 29.15171252 25.26103956 25.49130202 17.18053906 17.41798699
 34.68219005 17.00513868 27.01905202 22.50735838 29.35352461 27.09198374
 17.76571768  5.73466295 36.73788218 25.10200693 30.05169004 27.15475053
 16.24588015 32.68577041 19.26186349 22.77551901 22.50502745  8.48353293
 17.32509298 29.19138428 27.16214393  5.8632676  21.5650751  20.09427267
 22.1575366  20.62251587 20.98784812 13.18732158 19.7346381  26.01859643
 40.1950961  19.42654069 33.62918337 27.10747407 28.70147827 22.08529614
 25.85491591 31.35612483 17.16695358 26.37248625 21.52561691 36.82932755
 21.97948636 16.71732707 27.6541775  -0.09068038 13.95389069 16.24461279
 35.75427335 20.99349216 20.82214395 25.30722566 21.87027187 18.86509225
 13.54946599 35.506588   23.15108677 24.90939491 17.63153668 20.85829449
 14.76578119]

In [190]:
np.savetxt('y_test_predicted_copy.csv', y_test_predicted, delimiter=',',fmt='%1.5f')